<body>
  <h2>NOTICIAS</h2>
  
  <h3>Sigue aumentando el índice por muertes de ciclistas en las vías</h3>

  <h4>En lo que va del 2019, según cifras de la Secretaria de Movilidad, han fallecido ocho biciusuarios.</h4>
  <div class="row">
      <div class=" col-md-6">	
          <img class="imagen-noticias" src="../../assets/img/noticia1.jpeg">
      </div>
      <div class=" col-md-6">	
      <p>
          Aunque Bogotá es la ciudad con más kilómetros de infraestructura para ciclistas (540 kilómetros de ciclorrutas construidas) en América Latina, las muertes de los biciusuarios siguen en aumento. A diario se realizan cerca de 800.000 viajes en bicicleta.
          <br><br>
          Según las cifras de la Secretaría Distrital de Movilidad, en el 2017, unas 59 personas perdieron la vida; para 2018, el indicador aumentó a 63, y en lo que va corrido del año han fallecido ocho ciclistas. Tan solo el fin de semana del 9 y 10 de febrero, tres de ellos perdieron la vida al verse involucrados en accidentes de tránsito.
          <br><br>
          Una de las víctimas era Katherine Suavita, miembro de Queens Bici Mensajería, quien fue atropellada por un taxista en la localidad de Suba. La mujer falleció, y el conductor está siendo investigado por la Fiscalía.
      </p>
      </div>
  </div>


  
</body>