<body>
  <h2>INFORMACIÓN</h2>
  
  <div id="cuerpo-info">

  <div class="row">

      <div class=" col-md-3">	
          <img class="imagen-informacion" routerLink='/Ciclovia' src="../../assets/img/infor-1.png">
          <h5 routerLink='/Ciclovia'>Ciclovia</h5>
      </div>
      <div class=" col-md-3">	
          <img class="imagen-informacion" routerLink='/Registrobici' src="../../assets/img/infor-2.png">
          <h5>Registro de bicicletas</h5>
      </div>
      <div class=" col-md-3">	
          <img class="imagen-informacion" routerLink='/Reglamento' src="../../assets/img/infor-3.png">
          <h5>Reglamento vial</h5>
      </div>
      <div class=" col-md-3">	
          <img class="imagen-informacion" routerLink='Prestamo' src="../../assets/img/infor-4.png">
          <h5>Prestamo/alquiler de bicicletas y monopatines</h5>
      </div>
  </div>

</div>


  
</body>