/* You can add global styles to this file, and also import other style files */
.main-container{
    margin-top: 50px;
}

*{
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";

}

.btn{
	margin-top: 10px;
	border-radius: 10px;
	border: none;
}



h2{
	color:#0066AD;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

h3{
	color:#34A1B8;
	padding-top: 20px;
	padding-bottom: 20px;
}

h4{
	color:#3b3b3b;
	padding-top: 20px;
	padding-bottom: 20px;
}

h5{
	color:#0066AD;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

p{
	color:#000000;
	padding: 20px;
	text-align: justify;
}
